In [16]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt

def evaluate_model(model, predict_set, evaluate_set):
    predictions = model.predict(predict_set)
    print("Median Absolute Error: " + str(round(median_absolute_error(predictions, evaluate_set), 2))) 
    RMSE = round(sqrt(mean_squared_error(predictions, evaluate_set)), 2)
    print("RMSE: " + str(RMSE))

sns.set()
pd.set_option('max_columns', 1000)
warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
airbnb_df = pd.read_csv(r"C:\Users\darre\OneDrive\Documents\Capstone One Clean\Airbnb_NYC_Original.csv")
df.head(5)

,beds,city,market,bedrooms,bathrooms,minimum_nights,price,property_type,accommodates,room_type,neighbourhood_group_cleansed,availability_365,latitude_longitude_bin
0,1.0,188,11,0.0,1.0,7,225.0,1,1,0,2,365,13
1,4.0,48,11,1.0,1.0,1,89.0,19,3,0,1,137,9
2,1.0,188,11,1.0,1.0,3,200.0,1,2,0,2,0,13
3,1.0,188,11,1.0,1.0,2,79.0,1,2,2,2,216,13
4,1.0,188,11,1.0,1.0,2,79.0,1,1,2,2,0,16

In [8]:
#shuffle rows and create training and testing sets
airbnb_df_shuffled = shuffle(airbnb_df)

airbnb_df_shuffled.head(5)

,beds,city,market,bedrooms,bathrooms,minimum_nights,price,property_type,accommodates,room_type,neighbourhood_group_cleansed,availability_365,latitude_longitude_bin
44697,1.0,48,11,0.0,1.0,1,92.0,1,1,2,1,365,9
1063,1.0,48,11,1.0,1.0,2,85.0,1,2,2,1,0,9
1744,1.0,161,11,1.0,1.0,30,95.0,1,2,0,3,195,13
9895,1.0,188,11,1.0,1.5,4,99.0,1,2,2,2,0,16
40450,2.0,225,11,1.0,1.0,1,89.0,22,4,1,3,222,13

In [11]:
y = airbnb_df_shuffled['price']
X = airbnb_df_shuffled.drop('price', axis = 1)
train_X, test_X, train_y, test_y = train_test_split(X,y, random_state = 42)

In [14]:
my_pipeline_RF = make_pipeline(Imputer(), StandardScaler(),
                               RandomForestRegressor(random_state=42))

my_pipeline_RF.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('imputer',
                 Imputer(axis=0, copy=True, missing_values='NaN',
                         strategy='mean', verbose=0)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=True, criterion='mse',
                                       max_depth=None, max_features='auto',
                                       max_leaf_nodes=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=10, n_jobs=None,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [17]:
evaluate_model(my_pipeline_RF, test_X, test_y)

Median Absolute Error: 27.24
RMSE: 330.91

In [18]:
evaluate_model(my_pipeline_RF, train_X, train_y)

Median Absolute Error: 13.5
RMSE: 188.14